.App{
  width: 100%;
  height: 100vh;
  display:flex;
  justify-content:space-between;
  align-items: center;
  background-color: #77458a;
  color: #fff;
  padding: 10px;
  outline: none !important;

}
.todo_list{
  width: 500px;
  background: #ffff;
  color: #77458a;
  height:500px;
  border: none;
  border-radius: 10px;
}
.list{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.input{
  margin-bottom: 20px;
  color: #fff;
}
.input::placeholder{
  color:#fff;
}

.list h2{
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.text{
  margin-top: 20px;
  font-size: 22px;
  font-weight: 900;
}